{% load static %}
{% load mptt_tags %}

<div class="sticky-wrapper" style=""><div class="wrap-container sticky-header">
   <div class="header-bottom">
       <div class="container">
           
           <div class="header-center">
               <nav class="main-nav">
                   <ul class="menu sf-arrows sf-js-enabled" style="touch-action: pan-y;">
                    {% recursetree menu %}
                       <li>
                           <a href="{% url 'category' node.slug %}" class="sf-with-ul">{{ node.menu_name }}</a>
                           {% if not node.is_leaf_node %}
                           <div class="megamenu megamenu-sm" style="display: none;">
                               <div class="row no-gutters">
                                   <div class="col-md-6">
                                       <div class="menu-col">
                                           <ul>
                                              <li><a href="{% url 'category' node.slug %}">{{ children }}</a></li>
                                           </ul>
                                       </div><!-- End .menu-col -->
                                   </div><!-- End .col-md-6 -->
                               </div><!-- End .row -->
                           </div><!-- End .megamenu megamenu-sm -->

                           {% endif %}
                       </li>
                       {% endrecursetree %} 
                   </ul><!-- End .menu -->
               </nav><!-- End .main-nav -->
           </div><!-- End .header-left -->

           <div class="header-right">
               <div class="header-text">
                   <ul class="top-menu top-link-menu">
                       <li>
                           <ul>
                               <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login / Registration</a></li>
                           </ul>
                       </li>
                   </ul>
               </div><!-- End .header-text -->
           </div><!-- End .header-right -->
       </div><!-- End .container -->
   </div><!-- End .header-bottom -->
</div></div><!-- End .wrap-container -->
</header>
